:host {
  display: flex;
  flex: 1 1 100%;
  align-items: center;
  align-content: center;
  justify-content: center;
}

:host .pairs {
  color: white;
  font-size: 11px;
  text-shadow: 0 1px 1px rgba(0,0,0,.8);
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(255,255,255,.2);
  height: 100%;
  width: 200px;
  font-weight: bold;
}

:host .cards {
  height: 100%;
  margin-left: 200px;
  width: 800px;
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

:host mg-card {
  box-sizing: border-box;
  width: 71px;
  height: 97px;
  margin: 2px;
  color: transparent;
  box-shadow: 0px 16px 32px rgba(0,0,0,.4);
}

:host mg-card.unselected {
  flex: 0 0 auto;
  border-width: 1px;
  border-style: solid;
  border-color: linear-gradient(0deg, #145b6a, #166576);
  background: linear-gradient(45deg, #166576, #1c7f95);
}

:host mg-card.paired {
  color: transparent;
  background: linear-gradient(45deg, #dddddd, #eeeeee);
  border: 1px solid #fff;
  opacity: .1;
}
