:host {
  display: block;
  height: 100%;
  position: absolute;
  min-width: 1024px;
  min-height: 1024px;
}

:host .pairs {
  display: flex;
  flex: 0 1 auto;
  flex-flow: row wrap;
  align-self: flex-start;
  align-items: center;
  align-content: center;
  flex-direction: row;
}

:host .cards {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
}

:host mg-card {
  width: 6.5%;
  height: 13%;
  margin: 1%;
  border: 1px solid #000;
  color: transparent;
}

:host mg-card.selected {
  border: 1px solid #0055bb;
  background-color: #0077aa;
  color: white;
}

:host mg-card.paired {
  color: transparent;
  background-color: #eee;
  border: 1px solid #ddd;
}
